@import "colores";
@import "estructura";
@import "resetcss";
@import "variables";

.carrousel-item {
    h6 {
        color: aqua;
    }
}
.light {
    background-color: #e8f0fe;

}
.dark {
    background-color: #2e3336;
}

.headbar {
    background-color: #008;
    position: fixed;
    align-items: bottom;
    justify-content: center;
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 0%;
    width: 100%;
    height: 120px;
}

.xanimada {
    width: 319px;
    height: 30px;
    display: flex;
    position: relative;
    background: url(./images/xanimate.png);
    margin-top: 84px;
    margin-left: auto;
    margin-right: auto;
    animation: xanimada 2s steps(5) infinite;
}

    @keyframes xanimada{
        0%{
            background-position: 0px;
        }
        100%{
            background-position: -1595px;
        
        }
    }

    .xanidriver {
        width: 300px;
        height: 40px;
        display: flex;
        position: relative;
        background: url(./images/xanidriver.png);
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        animation: xanidriver 2s steps(4) infinite;
    }
        
    @keyframes xanidriver{
            0%{
                background-position: 0px;
            }
            100%{
                background-position: -1200px;
            }
        
    }

.containerLogin {
    width: 360px;
    height: 370px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 6px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-weight: lighter;
    display: block;
    box-sizing: border-box;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 30px 15px 30px;
}

.forget-password {
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    color: #74777c;
}

#forget-password {
    font-size: 12px;
    font-weight: lighter;
    color:#333333;
    
}

.containerWelcome {
    width: 240px;
    height: 300px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 6px;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 30px 15px 30px;
}
.link {
    text-decoration: none;
    background: local;
    color: #000;
    
}

.Entrar {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    padding-top: 10px;
    color:#000;
    font-weight: lighter;
}

.entra {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: #f83600;
    color: #fff;
    padding: 9px 15px 7px 15px;
    display: flex;
    display:inline;
    align-content:space-between;
    border-radius: 4px;
    border-color: none;
    border-style: none;
    
}

// aplicando & con SASS //

div {
    text-decoration: none;
    input {
        color: yellow;
        &:hover {
            color: orange;
            text-shadow: #000;
        }
    }
}

div {
    text-decoration: none;
    h6 {
        color: yellow;
        background-color: #000;
        &:hover {
            color: orange;
            text-shadow: #000;
        }
    }
}

.contenedor {
    display:grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: #74777c;
}

@keyframes hola {
        0%{
            color: #74777c;
            font-size: 40px;
            padding: none;
        }
        80%{
            color: #74777c;
            font-size: 40px;
    }
        100%{
            font-size: 140px;
            color: green;
    }
}

.hola {
    display: grid;
    padding-left: 25px;
    animation: hola 4s;
    color: green;
    font-size: 140px;
    }

.erase {
    display: none;
}

.form-group {
    display: flex;
    width: 298px;
    height: 34px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e8f0fe;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-size-adjust: 100%;
    border-radius: 4px;
    border: #adb3bd solid .5px;
    border-left: #f83600 solid 2px;
    margin: 20px 0px 25px;
    text-decoration-line: none;
}

.conten-logo {
    display: grid;
    grid-area: logo;
    justify-items: center;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
    width: auto;
    height: 64px;
}

.titulomenu {
    display: flex;
    
    /* width: 320px;
    height: 520px; */
    margin-top: 5px;
    border: #74777c 1px solid;
    /* background-color: #000; */
    border-radius: 6px;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
}
.renglon {
    margin-bottom: 5px;
}
.sombra {
    text-shadow: #000 0.1em 0.1em;
}
.mayuscula {
    font-size: 24px;
    font-weight: bold;
}
.container {
    display: flex;
    max-width: 100%;
    font-size: medium;
    color: #fff;
    font-weight: 300
}
.status{
    color: #fff;
    }
.nada {
    display: none;
}
.titulonombre {
    display: flex;
    margin-top: 10px;
    font-size: large;
    font-weight: bolder;
    text-shadow: #000 0.1em 0.1em;
    justify-content: center;
    color:#fff;
}
.bold {
    font-size: large;
    font-weight: bold;
    color: #fff;
    background-color: #f83600;
}

.icon {
    background-color: #fff;
    color: #000;
}

#barra {
    padding-top: 80px;
    display: grid;
    grid-template-areas:
    "btn1 text1"
    "btn2 text2";
    grid-template-rows: 80
    px 80px; 
    grid-template-columns: 120px 300px;
    align-content: center;
    justify-content: center;
}

.entrar {
    width: 90px;
    height: 34px;
    color: #f5f7fa;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f83600;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 7px 20px;
    margin: 1px 0px 0px;
    border-radius: 4px;
}

.iconentrar {
    display: flex;
    padding: 6px;
    color:#fff;
    background-color: #f83600;
}

#bottombar {
    display: none;
}
.navigation {
    color: #333333;
}
.bottombar {
    display: none;
}

@media screen and (max-width:480px) {
    
    .titulomenu {
        margin-top: 0%;
        border: #74777c 1px solid;
        /* background-color: #000; */
        border-radius: 6px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        color: #000;
        margin-left: 20px;
        margin-right: 10px;
        justify-content: center;
        justify-items: center;
        align-items: top;
            
    }
    .mayuscula {
        font-size: 16px;
        font-weight: medium;
    }

    .conten-logo {
        display: grid;
        grid-area: logo;
        justify-items: center;
        align-items: center;
        padding: 15px;
        margin-top: 10px;
        width: auto;
        height: 48px;
    }

    .logo {
        max-height: 50%;
    }
    
    }

    .footer {
    margin-bottom: 0%;
    ;
}
    .btn5 {
        padding-top: 10px;
        grid-area: btn5;
        color: #000;
        background-color: #fff;
        justify-items: center;
        align-items: center;
    }
         
    .btn6 {
        grid-area: btn6;
        padding-top: 10px;
        color: #000;
        background-color: #fff;
        justify-items: center;
        align-items: center;
    }
    
    .btn7 {
        color: #000;
        padding-top: 10px;
        background-color: #fff;
    }
    .bottombar {
        width: 100%;
        height: 52px;
        padding: 0%;
        display: grid;
        grid-template-areas:
        "btn5 btn6 btn7";
        grid-template-rows: 52px;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
        justify-content: space-around;
        background-color: #fff;
        color: #333333;
}